/*
@media screen and (max-width: 450px) {}
@media screen and (min-width: 450px) {}
@media screen and (min-width: 1050px) {}
*/

@import "global";

$min-height: calc(100vh - #{$nav-height});
$background-gray: rgb(206, 206, 206);

section {
    min-height: $min-height;
    width: 100vw;
    overflow: hidden;
    flex-direction: column;

    & #form {
        @include flexbox();
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;
        margin: 50px 0 30px 0;
        & * {margin: unset}

        & .input {
            @include flexbox();
            flex-direction: row;
            @media screen and (max-width: 450px) {width: 80%;}
            @media screen and (min-width: 450px) {width: 70%;}
            @media screen and (min-width: 1050px) {width: 600px;}
            & input[type=search] {
                width: 100%;
                appearance: none;
                outline-width: 0;
                transition: .5s;
                border: 2px solid $red-mono;
                &:active, &:hover {border: 2px solid $red-deep;}
                height: 40px;
                text-align: center;
                font-weight: 600;
                color: $dark;}
            input[type=search]::-webkit-search-decoration,
            input[type=search]::-webkit-search-cancel-button,
            input[type=search]::-webkit-search-results-button,
            input[type=search]::-webkit-search-results-decoration {
                -webkit-appearance:none;}
            & .svg {
                height: 40px;
                @include flexbox();
                justify-content: center;
                align-items: center;
                &:hover svg {fill: $red-deep;}}
            & svg {
                margin-left: -40px;
                height: 40px;
                width: auto;
                padding: 7px;
                transition: .5s;
                fill: $red-mono;
                cursor: pointer;}}}
        & .search-wrapper {
            width: 100%;
            @include flexbox();
            justify-content: center;
            align-items: center;
            & div {
                border-radius: 10px;
                padding: 5px 10px;
                font-weight: 500;
                cursor: pointer;
                transition: .5s;
                background-color: $background-gray;
                &:hover {background-color: $gray;}}}
        & .a-wrapper {
            width: 100%;
            @include flexbox();
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0 5%;
            justify-content: center;
            & * {padding: unset;}
            & .architect {
                @media screen and (max-width: 450px) {
                    margin: 2.5vh 0;
                    width: 60vw;
                    height: 80vw;}
                @media screen and (min-width: 450px) {
                    margin: 2vh 5%;
                    width: 30vw;
                    height: 45vw;}
                @media screen and (min-width: 1050px) {
                    width: 160px;
                    height: 240px;
                    margin: 1vw;}
                border: 2px solid $red-mono;
                & * {margin: unset;}
                & a {
                    overflow: hidden;
                    @include flexbox();
                    //justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    & * {
                        color: $dark;
                        text-align: center;}}
                & img {
                    margin: 20px 0;
                    height: 100px;
                    width: 100px;
                    border-radius: 50px;}}
            & .nothing {
                color: $dark;
                margin: 20px 0;
                font-weight: 500;}}

}