{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block title %}   {% endblock title %}
        {% block description %}   {% endblock description %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google" content="notranslate">
        <meta name="google" content="nopagereadaloud">

        <script src="{% static 'jquery.js' %}" async defer></script>
        <script src="{% static 'navigation.js' %}" async defer></script>
        <script src="{% static 'navigation.js' %}" async defer></script>
        {% block addons %}   {% endblock addons %}   
    </head>

    <body onload="page_load()">
        {% include 'navbar.html' %}
        
        {% block content %}
        {% endblock content %}

        {% include 'footer.html' %}
    </body>
    
</html>
